raw_data/
Mus*
reference*
qc_results/
trimmed/
aligned/


# Col1GPF_Sepsis
bulk_RNAseq/Col1GPF_Sepsis/.ipynb_checkpoints/
bulk_RNAseq/Col1GPF_Sepsis/deg_utils.py
bulk_RNAseq/Col1GFP_Sepsis/__pycache__